{{!-- 引入header.hbs 文件，作为全局的头部文件 --}}
{{> header}}

<div class="container" style="padding-bottom: 80px;">
    <div>
        <table class="table table-bordered text-center" id="j-page-table">
            <thead>
            <tr>
                <th style="width: 25%;">图片</th>
                <th style="width: 25%;">id</th>
                <th style="width: 10%;">mark</th>
                <th style="width: 10%;">来源</th>
                <th style="width: 20%;">标题</th>
                <th style="width: 10%;">链接</th>
            </tr>
            </thead>
            <tbody id="tbody">
            <tr>
                <td colspan="9">
                    <div class="clearfix ui-center-loading-box">
                        <div class="col-lg-10 ui-padding-0 ui-center-loading-txt"> 正在努力加载数据，请稍后......</div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="page" id="J_PageBar">

    </div>
</div>
<!--新闻模板-->
{{{{raw}}}}
<script id='j-tmpl' type='text/x-jquery-tmpl'>
{{#each list}}
   <tr>
       <td>
         <img class="ui-news-img" src="{{firstImg}}" alt="">
       </td>
       <td>{{id}}</td>
       <td>{{mark}}</td>
       <td>{{source}}</td>
       <td>{{title}}</td>
       <td>
          <a href="{{url}}">查看详情</a>
       </td>
   </tr>
{{/each}}
</script>
{{{{/raw}}}}
<!--/新闻模板-->

{{#extend "stylesheets"}}
<link rel="stylesheet" href="/stylesheets/table.min.css"/>
<link rel="stylesheet" href="/stylesheets/demo.css"/>

<!--必须的库文件-->
<link rel="stylesheet" href="/javascripts/ajaxpage/ajaxpage.css">
<!--/必须的库文件-->
{{/extend}}

{{#extend "scripts"}}
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!--必须的库文件-->
<script src="/javascripts/ajaxpage/ajaxpage.js"></script>
<!--/必须的库文件-->

{{!-- 可选的前端模板引擎，你也可以使用其他的模板引擎来代替 --}}
<!--可选的前端模板引擎-->
<script src="//cdn.bootcss.com/handlebars.js/4.0.5/handlebars.min.js"></script>
<!--/可选的前端模板引擎-->

<script>
    //document ready
    $(function () {
        //ajaxPage
        $("#tbody").ajaxPage({
            url: "/jokelist",
            data: {
                "pno": 1,
                "ps": 10
            },
            pageList:[15],
            type: "post",
            dataType: "json",//数据类型为json
            pageId: $("#J_PageBar"),  //分页菜单容器
            run: true,
            success: function (res) {
                //渲染数据
                var source = $("#j-tmpl").html();
                var template = Handlebars.compile(source);
                $("#tbody").html(template(res.result));

                //让table 通过滚动条滚动到视图中间
                $("#j-page-table").goView();
            }
        });
    });
</script>
{{/extend}}
